<div class="container fb">
  <div class="row">
    <div class="col-md-6 text-xs-center">
      <div class="fb-page" data-href="https://www.facebook.com/lakebottom" data-tabs="timeline" data-max-width="500px" data-height="100%" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
    </div>
    <div class="col-md-6 text-xs-center">
      <a class="twitter-timeline" href="https://twitter.com/disasterfaster" height="550px">Tweets by disasterfaster</a>
    </div>
  </div>


