<div class="container text-xs-center">
<div class="row">

  <div class="col-md-12">
<div class="col-md-6">
  <iframe align="middle" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1209072036/size=medium/linkcol=1e6c9c/transparent=true/" seamless><a href="http://lakebottomrecordinghouse.bandcamp.com/album/lakebottom-2015">LAKEBOTTOM 2015 by lakebottom recording house</a></iframe>
</div>
<div class="col-md-6">
  <iframe align="middle" style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=2710437342/size=medium/linkcol=1e6c9c/transparent=true/" seamless><a href="http://lakebottomrecordinghouse.bandcamp.com/album/mmxiii">MMXIII by lakebottom recording house</a></iframe>
</div>
</div>
  </div>
</div>
