<section id="contact">
  <div class="container wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.5s">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/lakebottom" target="_blank">
              <i class="fa fa-facebook fa-5x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/disasterfaster" target="_blank">
              <i class="fa fa-twitter fa-5x"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-unstyled">
          <li><p><strong><i class="fa fa-envelope"></i>Email:</strong> <a href="mailto:jc@lakebottomrecordings.com">jc@lakebottomrecordings.com</a>
          </p></li>
          <li><p><strong><i class="fa fa-phone"></i>Phone:</strong> <a
            href="tel:14197798221">419-779-8221</a></p></li>

        </ul>
      </div>
    </div>
  </div>
</section>
