<div id="albums">
  <div class="container text-xs-center">
    <div class="row wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1s">
      <div class="col-md-4 ">
        <a href="https://ceremonyofsenses.bandcamp.com/" target="_blank"><p>Ceremony of Senses</p></a>
        <img src="../../assets/img/red_cent.jpg" class="img-fluid">
        <a href="https://ceremonyofsenses.bandcamp.com/album/red-cent" target="_blank"><p>red cent</p></a>
    </div>
      <div class="col-md-4">
        <a href="https://ceremonyofsenses.bandcamp.com/" target="_blank"><p>Ceremony of Senses</p></a>
        <img src="../../assets/img/we_inherit.jpg" class="img-fluid">
        <a href="https://ceremonyofsenses.bandcamp.com/album/we-inherit" target="_blank"><p>we inherit</p></a>
      </div>
      <div class="col-md-4">
        <a href="https://ceremonyofsenses.bandcamp.com/" target="_blank"><p>Ceremony of Senses</p></a>
        <img src="../../assets/img/Ill_never_be.jpg" class="img-fluid">
        <a href="https://ceremonyofsenses.bandcamp.com/album/ill-never-be-as-beautiful-as-this" target="_blank"><p>i'll never be as beautiful as this</p></a>
      </div>
    </div>
 <hr/>

    <div class="row wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1s">
      <div class="col-md-4">
        <a href="https://ceremonyofsenses.bandcamp.com/" target="_blank"><p>Ceremony of Senses</p></a>
        <img src="../../assets/img/the_house.jpg" class="img-fluid">
        <a href="https://ceremonyofsenses.bandcamp.com/album/the-house-at-the-end-of-time" target="_blank"><p>the house at the end of time</p></a>
      </div>
      <div class="col-md-4">
        <a href="https://ceremonyofsenses.bandcamp.com/" target="_blank"><p>Ceremony of Senses</p></a>
        <img src="../../assets/img/our_first_winter.jpg" class="img-fluid">
        <a href="https://ceremonyofsenses.bandcamp.com/album/our-first-winter" target="_blank"><p>our first winter</p></a>
      </div>
      <div class="col-md-4">
        <a href="https://cloudrat.bandcamp.com/" target="_blank"><p>Cloud Rat</p></a>
        <img src="../../assets/img/qlipoth.jpg" class="img-fluid">
        <a href="https://cloudrat.bandcamp.com/album/qliphoth" target="_blank"><p>Qliphoth</p></a>
      </div>
    </div>
    <hr/>

    <div class="row wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1s">
      <div class="col-md-4">
        <a href="https://dismantleoh.bandcamp.com/" target="_blank"><p>Dismantle</p></a>
        <img src="../../assets/img/in_stride.jpg" class="img-fluid">
        <a href="https://dismantleoh.bandcamp.com/album/in-stride" target="_blank"><p>In Stride</p></a>
      </div>
      <div class="col-md-4">
        <a href="https://dismantleoh.bandcamp.com/" target="_blank"><p>Dismantle</p></a>
        <img src="../../assets/img/complaints.jpg" class="img-fluid">
        <a href="https://dismantleoh.bandcamp.com/album/complaints" target="_blank"><p>Complaints</p></a>
      </div>
      <div class="col-md-4">
        <a href="https://dismantleoh.bandcamp.com/" target="_blank"><p>Dismantle</p></a>
        <img src="../../assets/img/unfortunate_truth.jpg" class="img-fluid">
        <a href="https://dismantleoh.bandcamp.com/album/unfortunate-truth" target="_blank"><p>Unfortunate Truth</p></a>
      </div>
    </div>
<hr/>

    <div class="row wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1s">
      <div class="col-md-4">
        <a href="https://thewaltz419.bandcamp.com/releases" target="_blank"><p>The Waltz</p></a>
        <img src="../../assets/img/loud_music.jpg" class="img-fluid">
        <a href="https://thewaltz419.bandcamp.com/releases" target="_blank"><p>Loud Music For Tired People</p></a>
      </div>
      <div class="col-md-4">
        <a href="https://txcup.bandcamp.com/" target="_blank"><p>Tear Off/Clean Up </p></a>
        <img src="../../assets/img/police_tank.jpg" class="img-fluid">
        <a href="https://txcup.bandcamp.com/track/police-tank" target="_blank"><p>Police Tank</p></a>
      </div>
      <div class="col-md-4">
       <a href="https://reboundmi.bandcamp.com/" target="_blank"><p>Rebound</p></a>
        <img src="../../assets/img/hard_luck.jpg" class="img-fluid">
        <a href="https://reboundmi.bandcamp.com/album/hard-luck" target="_blank"><p>Hard Luck</p></a>
      </div>
    </div>
<hr/>

    <div class="row wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1s">
      <div class="col-md-4">
      <a href="https://theoldbreed.bandcamp.com/releases" target="_blank"><p>The Old Breed</p></a>
      <img src="../../assets/img/legend.jpg" class="img-fluid">
      <a href="https://theoldbreed.bandcamp.com/releases" target="_blank"><p>Legend By Monday Morning</p></a>
    </div>
      <div class="col-md-4">
      <a href="https://losjacks.bandcamp.com/releases" target="_blank"><p>Los Jacks</p></a>
      <img src="../../assets/img/toledo_ponkeros.jpg" class="img-fluid">
      <a href="https://losjacks.bandcamp.com/releases" target="_blank"><p>Toledo ponkeros, vol. I</p></a>
    </div>
      <div class="col-md-4">
        <a href="https://serpentspeech.bandcamp.com/" target="_blank"><p>Serpent Speech</p></a>
        <img src="../../assets/img/empire.jpg" class="img-fluid">
        <a href="https://serpentspeech.bandcamp.com/" target="_blank"><p>empire</p></a>
      </div>
  </div>
<hr/>

    <div class="row wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1s">
      <div class="col-md-4">
        <a href="https://breakoh.bandcamp.com/" target="_blank"><p>Break</p></a>
        <img src="../../assets/img/break.jpg" class="img-fluid">
        <a href="https://breakoh.bandcamp.com/" target="_blank"><p>fear & loathing</p></a>
      </div>
      <div class="col-md-4">
        <a href="https://wizardunion.bandcamp.com/" target="_blank"><p>Wizard Union</p></a>
        <img src="../../assets/img/wiz_union.jpg" class="img-fluid">
        <a href="https://wizardunion.bandcamp.com/" target="_blank"><p>Smoking Coffins</p></a>
      </div>
      <div class="col-md-4">
        <a href="https://weigheddown.bandcamp.com/"><p>Weighed Down</p></a>
        <img src="../../assets/img/weighed_down.jpg" class="img-fluid">
        <a href="https://weigheddown.bandcamp.com/"><p>2013 Demo</p></a>
      </div>
    </div>
<hr/>

    <div class="row wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1s">
      <div class="col-md-4">
        <a href="https://dontgetbored.bandcamp.com/" target="_blank"><p>Don't Get Bored</p></a>
        <img src="../../assets/img/dgbsucks.jpg" class="img-fluid">
        <a href="https://dontgetbored.bandcamp.com/album/dont-get-bored-sucks-at-skateboarding" target="_blank"><p>Don't Get Bored Sucks At Skateboarding</p></a>
      </div>
      <div class="col-md-4">
        <a href="https://dontgetbored.bandcamp.com/" target="_blank"><p>Don't Get Bored</p></a>
        <img src="../../assets/img/dgb.jpg" class="img-fluid">
        <a href="https://dontgetbored.bandcamp.com/album/dont-get-bored" target="_blank"><p>Don't Get Bored</p></a>
      </div>
      <div class="col-md-4">
        <a href="https://lancemurdock.bandcamp.com/" target="_blank"><p>Lance Murdock</p></a>
        <img src="../../assets/img/not_walking_away.jpg" class="img-fluid">
        <a href="https://lancemurdock.bandcamp.com/" target="_blank"><p>Not Walking Away From this one</p></a>
      </div>
    </div>
    <hr/>

    <div class="row wow fadeInUpBig" data-wow-delay="0.2s" data-wow-duration="1s">
      <div class="col-md-4">
        <a href="https://blindhaven.bandcamp.com/" target="_blank"><p>Blind Haven</p></a>
        <img src="../../assets/img/the_agonizing.jpg" class="img-fluid">
        <a href="https://blindhaven.bandcamp.com/album/the-agonizing-process-of-passing-time" target="_blank"><p>The Agonizing Process Of Passing Time</p></a>
      </div>

      <div class="col-md-4">
        <a href="https://blindhaven.bandcamp.com/" target="_blank"><p>Blind Haven</p></a>
        <img src="../../assets/img/blind_haven.jpg" class="img-fluid">
        <a href="https://blindhaven.bandcamp.com/album/blind-haven" target="_blank"><p>Blind Haven</p></a>
      </div>
      <div class="col-md-4">
        <a href="https://blindhaven.bandcamp.com/" target="_blank"><p>Blind Haven</p></a>
        <img src="../../assets/img/obey_worship.jpg" class="img-fluid">
        <a href="https://blindhaven.bandcamp.com/album/obey-worship-decay" target="_blank"><p>Obey Worship Decay</p></a>
      </div>
    </div>
    <hr/>
  </div>
</div>
