<section id="why">
  <div class="container text-xs-center">

    <div class="row">
      <div class="col-md-12 wow fadeIn">
        <h2>Contact</h2>
        <hr width="30%">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.2s">
        <i class="fa fa-thumbs-o-up fa-3x"></i>
        <h3>Customer Satisfaction</h3>
        <p>Our customers are happy</p>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
        <i class="fa fa-microphone fa-3x"></i>
        <h3>Our Studio</h3>
        <p>Its really cool</p>
      </div>
      <div class="col-md-4 wow fadeIn" data-wow-delay="0.4s">
        <i class="fa fa-trophy fa-3x"></i>
        <h3>Award Winning Service</h3>
        <p>Top 20 metal album of 2015</p>
      </div>
    </div>

  </div>
</section>
